# =========================
# Python (ALL SERVICES)
# =========================
**/.venv/
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/

# =========================
# Environment variables
# =========================
.env
.env.*
**/.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Docker
# =========================
docker-data/
*.db
*.sqlite3

# =========================
# Node (fallback global)
# =========================
node_modules/

backend/storage/